
/* Menu Button Styling */
.menu-btn {
  color: white;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

/* Scroll button styling */
.scroll-up-btn {
  position: fixed;
  height: 50px;
  width: 47px;
  background: crimson;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  z-index: 999;
  font-size: 30px;
  border-radius: 6px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.scroll-up-btn.show {
  opacity: 1;
  pointer-events: auto;
  bottom: 30px;
}

/* Fade In & Fade Out Elements on Scroll Start */
.fadein {
  opacity: 0.5;
}
.showme {
  transition: opacity 0.1s ease;
  opacity: 1 !important;
}

/* Home Section Styling */
.home {
  display: flex;
  background: url(./Assest/homeimg3.jpg) no-repeat center;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  min-height: 500px;
  font-family: "Ubuntu", sans-serif;
}
.home .max-width {
  margin: auto 0 auto 40px;
}
.home .home-content .text-1 {
  font-size: 27px;
}
.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}
.home .home-content .text-3 span {
  font-weight: 500;
  color: crimson;
}
.home .home-content a {
  display: inline-block;
  background: crimson;
  color: #fff;
  font-size: 25px;
  padding: 8px 20px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}
.home .home-content .web {
  margin-right: 25px;
}

.home .home-content a:hover {
  color: white;
  background: #000;
}

/* all similar content styling code */
section {
  padding: 100px 0;
}
.about,
.skills,
.projects,
.contact,
footer {
  font-family: "Poppins", sans-serif;
}
.about .about-content,
.skills .skills-content,
.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
  margin: 0 auto;
}
section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
}
section .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #111;
  transform: translateX(-50%);
}
section .title::after {
  position: absolute;
  bottom: -12px;
  left: 50%;
  padding: 5px;
  font-size: 20px;
  color: crimson;
  background: #fff;
  transform: translateX(-50%);
}

.skills,
.contact {
  background: #111;
  color: #fff;
}
.skills .title::before,
.contact .title::before {
  background: #fff;
}

/* about section styling */
.about .title::after {
  content: "who am i";
}
.about .about-content .left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 20px;
}
.about .about-content .right {
  width: 55%;
}
.about .about-content .right .text {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}
.about .about-content .right .text span {
  color: crimson;
}
.about .about-content .right p {
  text-align: justify;
  line-height: 1.6;
  letter-spacing: 1px;
}
.about .about-content .right a {
  display: inline-block;
  background: crimson;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  padding: 3px 25px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}
.about .about-content .right a:hover {
  color: crimson;
  background: none;
}

/* Social media section styling */
.button1 {
  float: left;
  width: 45px;
  height: 45px;
  cursor: pointer;
  background: #fff;
  overflow: hidden;
  border-radius: 35px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
.button1 .icon {
  width: 45px;
  height: 45px;
  text-align: center;
  border-radius: 35px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

.button1 .icon i {
  font-size: 18px;
  line-height: 45px;
  color: crimson;
  transition: all 0.3s ease-in-out;
}
.button1:hover {
  width: 150px;
}
.button1:hover i {
  color: #fff;
}
.button1 span {
  font-size: 15px;
  font-weight: 500;
  line-height: 10px;
  margin-left: 5px;
}

.button1:hover .icon {
  background: #307de1;
}

.button1 span a {
  color: #307de1;
}

/* skills section styling */

.skills{
  height: 100vh;
}

.skills .title::after {
  background: #111;
  content: "what i know";
}
.skills .skills-content .column {
  /* width: calc(50% - 50px); */
  /* height: 20vh; */
  margin: 25px;
}
.skills .skills-content .left .text {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 10px;
}
.skills .skills-content .left p {
  text-align: justify;
  line-height: 1.6;
  letter-spacing: 1px;
}
.skills .skills-content .left a {
  display: inline-block;
  background: crimson;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 16px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}
.skills .skills-content .left a:hover {
  color: crimson;
  background: none;
}
.skills .skills-content .right .info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.skills .skills-content .right .info img {
  padding: 10px;
  margin: 5px;
}

/* Project section styling */
.projects .title::after {
  content: "check my work";
}
.projects .carousel .card {
  background: #222;
  border-radius: 10px;
  padding: 25px 20px;
  text-align: center;
  transition: all 0.3s ease;
}
.projects .carousel .card:hover {
  background: rgb(48, 48, 48);
}
.projects .carousel .card .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.projects .carousel .card:hover .box {
  transform: scale(0.99);
}

.projects .carousel .card p {
  font-size: 16px;
  padding-top: 10px;
  color: #fff;
}
.projects .carousel .card img {
  height: 250px;
  width: 280px;
  object-fit: fill;
  border-radius: 10px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}
.projects .carousel .card:hover img {
  border-color: #fff;
}
.carousel {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
  margin: 0 auto;
}
.owl-dots {
  text-align: center;
  margin-top: 20px;
}
.owl-dot {
  height: 13px;
  width: 13px;
  margin: 0 5px;
  outline: none !important;
  border-radius: 50%;
  border: 2px solid crimson !important;
  transition: all 0.3s ease;
}
.owl-dot.active {
  width: 35px;
  border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover {
  background: crimson !important;
}

/* contact section styling */
.contact .title::after {
  background: #111;
  content: "get in touch";
}
.contact .contact-content .column {
  width: calc(50% - 30px);
}
.contact .left .text {
  margin-top: 20px;
}
.contact .contact-content .left .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.contact .contact-content .left p {
  text-align: justify;
}
.contact .contact-content .left .text1 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 20px;
}
.contact .contact-content .left .icons {
  margin: 10px 0;
}
.contact .contact-content .row {
  display: flex;
  height: 65px;
  align-items: center;
}
.contact .contact-content .row i {
  font-size: 25px;
  color: crimson;
}
.contact .contact-content .row .email-icon {
  margin-left: -7px;
}
.contact .contact-content .row .info {
  margin-left: 30px;
  justify-content: left;
  float: left;
}
.contact .contact-content .info .head {
  font-weight: 600;
}
.contact .contact-content .info .sub-title {
  color: #fff;
}
.contact .contact-content .info .sub-title a{
  color: #fff;
}
.contact .right .text {
  padding-bottom: 10px;
  font-weight: 600;
}
.contact .right form .fields {
  display: flex;
}
.contact .right form .fields,
.contact .right form .field {
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}
.contact .right form .name {
  margin-right: 10px;
}
.contact .right form .email {
  margin-left: 10px;
}
.contact .right form .textarea {
  height: 160px;
  width: 100%;
}
.contact .right form .field input,
.contact .right form .textarea textarea {
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}
.contact .right form .textarea textarea {
  padding-top: 10px;
}
.contact .right form .button {
  height: 47px;
  width: 220px;
}
.contact .right form .button button {
  height: 100%;
  width: 100%;
  border: 2px solid crimson;
  background: crimson;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  border-radius: 6px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.contact .right form .button button:hover {
  color: #fff;
  background: none;
}

/* footer section styling */
footer {
  background: #fff;
  padding: 20px 23px;
  color: #000;
  text-align: center;
}
footer span a {
  color: crimson;
  text-decoration: none;
}
footer span a:hover {
  text-decoration: underline;
}


@media (max-width: 600px){
  .about .about-content .left img {
    height: 350px;
    width: 350px;
  }
  .about .about-content .right {
    width: 80%;
    margin: 30px;
}
}
/* responsive media query start */
/* @media (max-width: 1300px) {
  .home .max-width {
    margin-left: 0px;
  }
}

@media (max-width: 1104px) {
  .about .about-content .left img {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
}

@media (max-width: 947px) {
  .max-width {
    padding: 0 50px;
  }
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 40px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .home .home-content .text-2 {
    font-size: 72px;
  }
  .home .home-content .text-3 {
    font-size: 35px;
  }
  .home .home-content a {
    font-size: 22px;
    padding: 6px 24px;
  }
  .max-width {
    max-width: 800px;
  }
  .about .about-content .column {
    width: 100%;
  }

  .about .about-content .left .wrapper {
    margin: 0 auto 10px;
  }
  .about .about-content .right {
    flex: 100%;
    margin-top: 30px;
  }

  .skills .skills-content .column,
  .contact .contact-content .column {
    width: 100%;
    margin-bottom: 35px;
  }
  .contact .left .text {
    margin-top: 0px;
  }
}

@media (max-width: 690px) {
  .max-width {
    padding: 0 23px;
  }
  .home .home-content .text-2 {
    font-size: 60px;
  }
  .home .home-content .text-3 {
    font-size: 32px;
  }
  .home .home-content a {
    font-size: 20px;
  }
}

@media (max-width: 540px) {
  .about .about-content .right .text .break {
    display: block;
  }
}

@media (max-width: 500px) {
  .max-width {
    padding: 0 23px;
  }
  .home .home-content .text-2 {
    font-size: 50px;
  }
  .home .home-content .text-3 {
    font-size: 27px;
  }
  .projects .carousel .card {
    margin-top: 10px;
    padding: 10px 15px;
  }
  .projects .carousel .card img {
    height: 180px;
    width: 200px;
  }
}

@media (max-width: 380px) {
  .about .about-content .left img {
    height: 250px;
    width: 250px;
  }
} */

.contact {
  display: flex;
  flex-direction: column; 
  position: relative;
  background: linear-gradient(to bottom right, rgba(0,0,0, 0.9), rgba(36,11,54, 0.8), rgba(195,20,50,0.9)), url("https://i.imgur.com/3vacZxN.jpg") center no-repeat;
  background-size: cover;
}

.contact-header {
  font-family: "Montserrat", sans-serif;
  margin: 10rem 10rem 3rem 10rem;
  text-align: center;
}

#co-title {
  font-size: 1.2rem;
  font-weight: 700;
  color: #c31432;
  text-transform: uppercase;
  margin-bottom: 20px;
}

#co-text {
  font-size: 3rem;
  color: white;
  padding-bottom: 2rem;
}

.contact-content {
  display: flex;
  justify-content: space-between;
  align-self: center;
  line-height: 2;
  height: auto;
  width: 70%;
  background-color: rgba(0,0,0,0.6);
  margin-bottom: 10rem;
}

.contact-form {
  font-family: "Montserrat", sans-serif;
  padding: 5rem;
}

#form-title {
  color: #fff;
  font-size: 0.6rem;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  line-height: 1px;
  margin-left: 4rem;
  margin-bottom: 3rem;
}

fieldset {
  border: none;
}

.form-field {
  outline: none;
  width: 200%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.09);
    margin-bottom: .9rem;
}

#name, #email, #subject, #message {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  outline: none;
  background: transparent;
  border: none;
  letter-spacing: 2px;
  font-size: .6rem;
  line-height: 2rem;
  padding-bottom: 0.7rem;
}

textarea, #message {
  width: 100%;
  color: #fff;
  overflow: visible;
}

#form-btn {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  border: none;
  color: white;
  font-size: 0.6rem;
  letter-spacing: 2.5px;
  font-weight: 700;
  text-transform: uppercase;
  width: 200%;
  height: 60px;
  background-color: #c31432;
  cursor: pointer;
  transition: all .3s ease;
}

#form-btn:hover {
  opacity: 0.9;
  transform: translateY(-2.5%);
  box-shadow: 0 0 15px 0 #000;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 5rem;
  background-color: rgba(0,0,0,0.3);
}

.contact-info h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #c31432;
}

.contact-info a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #666;
  font-size: 0.8rem;
  letter-spacing: 2px;
  line-height: 3rem;
  margin-bottom: 5rem;
  transition: all .3s ease;
}

.contact-info a:hover {
  transform: translateY(-2.5%);
  color: #999;
}

.contact-info .fab {
  font-size: 1.5rem;
  line-height: 3rem;
  padding-left: 2rem;
  color: #666;
  cursor: pointer;
  transition: all .3s ease;
}

.fab:hover{
  transform: scale(1.2);
  color: #999;
}
.contact-links{
  display: flex;
  gap: 30px;
}


@media screen and (max-width: 960px) {
  .contact-content {
    display: flex;
    flex-direction: column;
  }
  
  .form-field {
    width: 100%;
  }
  
  #form-btn {
    width: 100%;
  }
  
  #form-title {
    margin: 3rem auto;
  }
  
  .contact-header{
    margin: 5rem 5rem 3rem 5rem;
  }
  
  #co-title {
    font-size: 1rem;
  }
  
  #co-text {
    font-size: 2.5rem;
  }
  
  .contact-form {
    padding: 2.5rem;
  }
}

@media screen and (min-width: 960px) {
  .form-field {
    width: 125%;
  }
  
  #form-title {
    margin: 3rem auto;
  }
  
  #form-btn {
    width: 125%;
  }
  
  .contact-header{
    margin: 7rem 7rem 3rem 7rem;
  }
  
  .contact-info {
    padding: 5rem;
  }
  
  #co-title {
    font-size: 1rem;
  }
  
  #co-text {
    font-size: 2.5rem;
  }
  
  .contact-form {
    padding: 2.5rem;
  }
}

@media screen and (min-width: 1460px) {
  .form-field {
    width: 200%;
  }
  
  #form-btn {
    width: 200%;
  }
}